@font-face {
    font-family: Futura;
    src: url(../fonts/futura.ttf);
}

@font-face {
    font-family: Rust;
    src: url(../fonts/Rust.ttf);
}

@font-face {
    font-family: Comicsans;
    src: url(../fonts/futura.ttf);
}

body {
    font-family: "Futura";
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: whitesmoke;
    background-color: #326bbb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%238badd9' fill-opacity='0.46'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/* Style voor de Nav bar, de titel en eigenlijk alles wat in het blauwe stuk aan de bovenkant van website zit */
.titel {
    display: flex;
    justify-content: space-around;
    background-color: #152C55;
    margin: 0px;
    color: white;
    text-align: center;
}

.top-bar {
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    border: 5px #152C55;
    border-style: solid;
    border-radius: 10%;
    height: 30px;
    padding-top: 0px;
    align-self: center;
    text-decoration: none;
}

.nav-item {
    align-items: center;
    padding: 10px;
}

.nav-item:hover {
    color: cornflowerblue;
}

.bar {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbar {
    overflow: hidden;
    background-color: #152C55;
    display: flex;
    margin-top: 15px;
    text-align: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #326bbb;
    border: #326bbb;
    border-style: none;
    border-radius: 10%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.margin-nav-bar {
    margin-bottom: 14px;
}
@media (min-width: 640px) {
    .mobile{
        display: none;
    }
    .titelh1{
        text-decoration: none;
        color: white;
    }
    .titel {
        display: flex;
        justify-content: space-around;
        background-color: #152C55;
        margin: 0px;
        color: white;
        text-align: center;
    }

    .top-bar {
        width: 100%;
        height: 30px;
        margin-bottom: 50px;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        border: 5px #152C55;
        border-style: solid;
        border-radius: 10%;
        height: 30px;
        padding-top: 0px;
        align-self: center;
        text-decoration: none;
    }

    .nav-item {
        align-items: center;
        padding: 10px;
    }

    .nav-item:hover {
        color: cornflowerblue;
    }

    .bar {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    .navbar {
        overflow: hidden;
        background-color: #152C55;
        display: flex;
        margin-top: 15px;
        text-align: center;
    }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: #326bbb;
        border: #326bbb;
        border-style: none;
        border-radius: 10%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .margin-nav-bar {
        margin-bottom: 14px;
    }
}
@media (max-width: 639px){
    .top-bar{
        display: none;
    }
    .sidebar{
        position: fixed;
        width: 240px;
        left: -240px;
        height: 100%;
        background: #152C55;
        transition: all .5s ease;
      }
      .sidebar header{
        font-size: 28px;
        color: white;
        line-height: 70px;
        text-align: center;
        background: #152C55;
        user-select: none;
        font-family: 'Montserrat', sans-serif;
      }
      .sidebar a{
        display: block;
        height: 65px;
        width: 100%;
        color: white;
        line-height: 65px;
        padding-left: 30px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        border-top: 1px solid rgba(255,255,255,.1);
        border-left: 5px solid transparent;
        font-family: 'Open Sans', sans-serif;
        transition: all .5s ease;
      }
      a:hover{
        border-left: 5px solid #326bbb;
        color: #326bbb;
      }
      .sidebar a i{
        font-size: 23px;
        margin-right: 16px;
      }
      .sidebar a span{
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      #check{
        display: none;
      }
      label #btn,label #cancel{
        position: absolute;
        cursor: pointer;
        color: white;
        border-radius: 5px;
        border: 1px solid #152C55;
        margin: 15px 30px;
        font-size: 29px;
        background: #152C55;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 45px;
        transition: all .5s ease;
      }
      label #cancel{
        opacity: 0;
        visibility: hidden;
      }
      #check:checked ~ .sidebar{
        left: 0;
      }
      #check:checked ~ label #btn{
        margin-left: 245px;
        opacity: 0;
        visibility: hidden;
      }
      #check:checked ~ label #cancel{
        margin-left: 245px;
        opacity: 1;
        visibility: visible;
      }
}

/* voorbeeld 2, Tekst en foto */

@media only screen and (max-width: 639px){
    .voorbeeldfoto2 {
        display: none;
        justify-content: left;
        padding: 5px;
        width: 50%;
        margin-left: 10px;
        margin-top: 100px;
    }

    .voorbeeldtekst2 {
        display: none;
        justify-content: right;
        padding: 5px;
        width: 50%;
        margin-right: 10px;
        margin-top: 100px;
    }

    .voorbeeld2 {
        display: none;
    }
    .mobile1 {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 640px){
    .voorbeeldfoto2 {
        display: flex;
        justify-content: left;
        padding: 5px;
        width: 50%;
        margin-left: 10px;
        margin-top: 100px;
    }

    .voorbeeldtekst2 {
        display: flex;
        justify-content: right;
        padding: 5px;
        width: 50%;
        margin-right: 10px;
        margin-top: 100px;
    }

    .voorbeeld2 {
        display: flex;
    }
    .mobile1 {
        display: none;
    }
}

/* voorbeeld 1, Tekst en foto Word ook gebruikt voor de foto en het stukje tekst op de over mij pagina. */
@media only screen and (max-width: 639px){
    .voorbeeld1 {
        display: flex;
        flex-direction: column;

    }
}
@media only screen and (min-width: 640px){
    .voorbeeldfoto1 {
        display: flex;
        justify-content: left;
        padding: 5px;
        width: 50%;
        margin-left: 10px;
        margin-top: 100px;
    }

    .voorbeeldtekst1 {
        display: flex;
        justify-content: right;
        padding: 5px;
        width: 50%;
        margin-right: 10px;
        margin-top: 100px;
    }

    .voorbeeld1 {
        display: flex;
    }

}

/* CV pagina */

.cvbox {
    display: flex;
    padding: 10px;
}

.cvboxlinks {
    display: flex;
    width: 25%;
    border: 5px white;
    border-style: solid;
    height: 600px;
}

.cvboxrechts {
    display: flex;
    width: 75%;
    border: 5px white;
    border-style: solid;
    height: 600px;
}

/* contact pagina */

@media only screen and (min-width: 640px){

    body {
    margin:0;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;

  }

  ul {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    margin:0;
    padding:0;
  }

  ul li {
    list-style:none;
    margin:0 5px;
  }

  ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }

  ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }

  ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }

  ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }

  ul li:hover .fa {
    color:#fff;
  }

  ul li:hover span {
    color:#fff;
  }

  ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }

  ul li:hover:nth-child(2) a{
    background: #00aced;
  }
  ul li:hover:nth-child(2) a:before{
    background: #097aa5;
  }
  ul li:hover:nth-child(2) a:after{
    background: #53b9e0;
  }

  ul li:hover:nth-child(3) a{
    background: #dd4b39;
  }
  ul li:hover:nth-child(3) a:before{
    background: #b33a2b;
  }
  ul li:hover:nth-child(3) a:after{
    background: #e66a5a;
  }

  ul li:hover:nth-child(4) a{
    background: #e4405f;
  }
  ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
  }
  ul li:hover:nth-child(4) a:after{
    background: #e46880;
  }

  ul li:hover:nth-child(5) a{
    background: #041f5a;
  }
  ul li:hover:nth-child(5) a:before{
    background: #080336;
  }
  ul li:hover:nth-child(5) a:after{
    background: #182066;
  }

  ul li:hover:nth-child(6) a{
    background: #464646;
  }
  ul li:hover:nth-child(6) a:before{
    background: #383838;
  }
  ul li:hover:nth-child(6) a:after{
    background: #5a5a5a;
  }}
@media only screen and (max-width: 639px) {
    body {
        margin:0;
        padding:0;
        font-family: 'Roboto Condensed', sans-serif;

      }

      ul {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        display:flex;
        flex-direction: column;
        margin-top: 350px;
        padding:0;
      }

      ul li {
        list-style:none;
        margin: 50px;
      }

      ul li a .fa {
        font-size: 40px;
        color: #262626;
        line-height:80px;
        transition: .5s;
        padding-right: 14px;
      }

      ul li a span {
        padding:0;
        margin:0;
        position:absolute;
        top: 30px;
        color: #262626;
        letter-spacing: 4px;
        transition: .5s;
      }

      ul li a {
        text-decoration: none;
        display:absolute;
        display:block;
        width:210px;
        height:80px;
        background: #fff;
        text-align:left;
        padding-left: 20px;
        transform: rotate(-30deg) skew(25deg) translate(0,0);
        transition:.5s;
        box-shadow: -20px 20px 10px rgba(0,0,0,.5);
      }
      ul li a:before {
        content: '';
        position: absolute;
        top:10px;
        left:-20px;
        height:100%;
        width:20px;
        background: #b1b1b1;
        transform: .5s;
        transform: rotate(0deg) skewY(-45deg);
      }
      ul li a:after {
        content: '';
        position: absolute;
        bottom:-20px;
        left:-10px;
        height:20px;
        width:100%;
        background: #b1b1b1;
        transform: .5s;
        transform: rotate(0deg) skewX(-45deg);
      }

      ul li a:hover {
        transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
        box-shadow: -50px 50px 50px rgba(0,0,0,.5);
      }

      ul li:hover .fa {
        color:#fff;
      }

      ul li:hover span {
        color:#fff;
      }

      ul li:hover:nth-child(1) a{
        background: #3b5998;
      }
      ul li:hover:nth-child(1) a:before{
        background: #365492;
      }
      ul li:hover:nth-child(1) a:after{
        background: #4a69ad;
      }

      ul li:hover:nth-child(2) a{
        background: #00aced;
      }
      ul li:hover:nth-child(2) a:before{
        background: #097aa5;
      }
      ul li:hover:nth-child(2) a:after{
        background: #53b9e0;
      }

      ul li:hover:nth-child(3) a{
        background: #dd4b39;
      }
      ul li:hover:nth-child(3) a:before{
        background: #b33a2b;
      }
      ul li:hover:nth-child(3) a:after{
        background: #e66a5a;
      }

      ul li:hover:nth-child(4) a{
        background: #e4405f;
      }
      ul li:hover:nth-child(4) a:before{
        background: #d81c3f;
      }
      ul li:hover:nth-child(4) a:after{
        background: #e46880;
      }

      ul li:hover:nth-child(5) a{
        background: #041f5a;
      }
      ul li:hover:nth-child(5) a:before{
        background: #080336;
      }
      ul li:hover:nth-child(5) a:after{
        background: #182066;
      }

      ul li:hover:nth-child(6) a{
        background: #464646;
      }
      ul li:hover:nth-child(6) a:before{
        background: #383838;
      }
      ul li:hover:nth-child(6) a:after{
        background: #5a5a5a;
      }
}


/* btc */

.btc {
    display: flex;
    justify-content: center;
    color: white;
    font: bold;
}

.inloggen a:hover {
    display: flex;
    justify-content: flex-end;
}


.ez {
    color: white;
    font-size: large;
}
.ennl{
    display: flex;
    width: 50%;
    color: violet;
    border-style: solid;
    border: solid;
    border-radius: 10%;
}

/* Typen de tekst op de eerste pagina waar je de taal kiest */

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
      width: 50
    }
}

@keyframes blink {
    50% {
      border-color: transparent
    }
  }
/* Alles voor de projecten pagina grid */

@media only screen and (min-width: 640px){
    .grids {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 95%;
        justify-content: center;
        margin: auto;
    }

    .itemgrid {
        max-width: 33%;
        min-width: 20%;
        justify-content: center;
    }
}
@media only screen and (max-width: 639px){

    .grids{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: center;
        margin: auto;
    }

    .itemgrid {
        max-width: 100%;
    }
}

