body {
    text-align: center;
    background-color: #333;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: whitesmoke;
}


/* Style voor de Nav bar, de titel en eigenlijk alles wat in het groene stuk aan de bovenkant van website zit */

.titel {
    display: flex;
    justify-content: space-around;
    background-color: olivedrab;
    margin: 0px;
    color: white;
}

.top-bar {
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    border: 5px rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10%;
    height: 30px;
    padding-top: 0px;
    align-self: center;
    text-decoration: none;
}

.nav-item {
    align-items: center;
    padding: 10px;
}

.nav-item:hover {
    color: cornflowerblue;
}

.bar {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbar {
    overflow: hidden;
    background-color: olivedrab;
    display: flex;
    margin-top: 15px;
    text-align: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.margin-nav-bar {
    margin-bottom: 14px;
}


/* voorbeeld 2, Tekst en foto */

.voorbeeldfoto2 {
    display: flex;
    justify-content: left;
    padding: 5px;
    width: 50%;
    margin-left: 10px;
    margin-top: 100px;
}

.voorbeeldtekst2 {
    display: flex;
    justify-content: right;
    padding: 5px;
    width: 50%;
    margin-right: 10px;
    margin-top: 100px;
}

.voorbeeld2 {
    display: flex;
}


/* voorbeeld 1, Tekst en foto
Word ook gebruikt voor de foto en het stukje tekst op de over mij pagina. */

.voorbeeldfoto1 {
    display: flex;
    justify-content: left;
    padding: 5px;
    width: 50%;
    margin-left: 10px;
    margin-top: 100px;
}

.voorbeeldtekst1 {
    display: flex;
    justify-content: right;
    padding: 5px;
    width: 50%;
    margin-right: 10px;
    margin-top: 100px;
}

.voorbeeld1 {
    display: flex;
}